* { 
	margin:0; 
	padding:0;
}
ul, ol, dl, p, h1, h2, h3, h4, h5, h6, address, form, table, blockquote, applet, embed, object, iframe, frameset{margin:0 0 14px;}
html, body, div, span, applet, embed, object, iframe, frameset,
p, q, blockquote, sub, sup, a, abbr, acronym, font, img, small, center,
h1, h2, h3, h4, h5, h6, b, strong, big, u, ins,
i, cite, em, var, dfn, address, s, strike, del,
dl, dt, dd, ol, ul, li, pre, code, kbd, samp, tt,
fieldset, legend, form, label, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary, time, mark, audio,video{
	border:0;
	background:none;
}
label{vertical-align:middle;}
button, input{
	width: auto;
	overflow: visible;
}
h1, h2, h3, h4, h5, h6, b, strong, th{font-weight:bold;}
i, cite, em, var, dfn, address{font-style:italic;}
u, ins {text-decoration: underline;}
s, strike, del {text-decoration: line-through;}
blockquote, blockquote:before, blockquote:after, q, q:before, q:after {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}
table, caption, tbody, tfoot, thead, tr, th, td{
	border-collapse: collapse;
	border-spacing: 0;
}
#content th, td{
	border:1px solid #ccc;
	padding:3px 7px;
	text-align:left;
	vertical-align:top;
}
#content th{
	border-color:#999;
	text-align:center;
	vertical-align:middle;
}
ul li, ol li{list-style-position:none;}
ul li{list-style-type:none;}
.alignleft {
	margin:0 21px 0 0!important;
	float: left!important;
}
.alignright {
	margin:0 0 0 21px!important;
	float: right!important;
}
@font-face {
	font-family: 'CabinRegular';
	src: url('../fonts/Cabin-Regular-webfont.eot');
	src: url('../fonts/Cabin-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Cabin-Regular-webfont.woff') format('woff'),
		url('../fonts/Cabin-Regular-webfont.ttf') format('truetype'),
		url('../fonts/Cabin-Regular-webfont.svg#CabinRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'CabinSemiBold';
	src: url('../fonts/Cabin-SemiBold-webfont.eot');
	src: url('../fonts/Cabin-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Cabin-SemiBold-webfont.woff') format('woff'),
		url('../fonts/Cabin-SemiBold-webfont.ttf') format('truetype'),
		url('../fonts/Cabin-SemiBold-webfont.svg#CabinSemiBold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'CabinBold';
	src: url('../fonts/Cabin-Bold-webfont.eot');
	src: url('../fonts/Cabin-Bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Cabin-Bold-webfont.woff') format('woff'),
		url('../fonts/Cabin-Bold-webfont.ttf') format('truetype'),
		url('../fonts/Cabin-Bold-webfont.svg#CabinBold') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
	margin:0;
	min-width:940px;
	color:#81827f;
	font:14px/20px CabinRegular, Arial, sans-serif;
	background:#f1f2f0;
}
img{border-style:none;} 
a{
	text-decoration:none;
	color:#1c20d0;
}
a:hover{text-decoration:underline;}
input, textarea, select{
	font:100% "Trebuchet MS", Arial, Helvetica, sans-serif;
	vertical-align:middle;
}
form, fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
#main h2{
	color:#3a3434;
	margin:0;
	font:24px/26px CabinBold, Arial, sans-serif;
}
.dark #main h3{color:#e9ebe6;}
#main h3{
	color:#3a3434;
	margin:0 0 15px;
	font:20px/22px CabinBold, Arial, sans-serif;
}
.dark #main h4{color:#e9ebe6;}
#main h4{
	color:#81827f;
	margin:0 0 14px;
	font:16px/18px CabinBold, Arial, sans-serif;
}
#content p{margin:0 0 20px;}
#content ul{
	margin:42px 0 16px;
	padding:0 0 0 19px;
	list-style:none;
	overflow:hidden;
	color:#81827f;
	font:14px/20px CabinRegular, Arial, sans-serif;
}
#content  ul li{
	margin:0 0 4px 0;
	padding:0 0 0 14px;
	background:url(../images/separator-sb-nav.png) no-repeat 0 8px;
}
#content ul  li a{color:#81827f;}
.dark #content ul li{background:url(../images/separator-sb-nav-dark.png) no-repeat 0 8px;}
.dark #content  ul li a{color:#cdcfca!important;}
#content ol{
	margin:24px 0 20px;
	padding:0 0 0 36px;
	overflow:hidden;
	color:#81827f;
	font:14px/20px CabinRegular, Arial, sans-serif;
}
.dark #content ol{color:#cdcfca;}
.dark #content ol li a{color:#cdcfca!important;}
#content ol li {
	padding:0 0 0 3px;
	margin:0 0 4px;
}
#content ol li a{color:#81827f;}
blockquote{
	margin:21px 0 22px;
	padding:0 39px;
	color:#3a3434;
	font:16px/24px CabinRegular, Arial, sans-serif;
}
.dark blockquote{color:#fff;}
blockquote q{
	quotes:none;
	margin:0 0 10px;
	display:block;
}
blockquote  cite{
	margin:0;
	font:14px/16px CabinBold, Arial, sans-serif;
	padding:0;
	text-transform:uppercase;
	color:#81827f;
	display:block;
}
.dark blockquote  cite{color:#fff;}
.form-holder{margin:32px 0 0;}
.form-holder label{
	font:16px/18px CabinBold, Arial, sans-serif;
	color:#3a3434;
	margin:0 0 7px;
	display:block;
}
.dark .form-holder label{color:#fff;}
.form-holder label em{color:#ff4a4b;}
.dark .form-holder label em{color:#f4c32f;}
.dark .form-holder input{
	background:#2e2929;
	border:1px solid #544c4c;
	color:#fff;
}
.form-holder input{
	width:244px;
	padding:7px 7px 8px;
	float:left;
	font-size:14px;
	background:#fff;
	border:1px solid #e4e5e3;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius: 4px;
}
.form-holder .text-holder{
	overflow:hidden;
	height:1%;
	padding:0 0 2px;
}
 .form-holder span{
	display:block;
	margin:0 0 -4px;
}
.dark .form-holder textarea{
	background:#2e2929;
	border:1px solid #544c4c;
	color:#fff;
}
.form-holder textarea{
	width:448px !important;
	height:143px;
	padding:5px;
	line-height:25px;
	background:#fff;
	border:1px solid #e4e5e3;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius: 4px;
	overflow:visible;
}
.form-holder .frame{
	overflow:hidden;
	height:1%;
	padding:5px 0 0;
}
.form-holder .box-form{
	width:240px;
	float:left;
}
.form-holder .box-form select{
	margin:0 0 25px;
	width:191px;
	font-size:11px;
	color:#606160;
}
.form-holder .box-form .file{
	width:186px;
	position:relative;
	margin:0 0 12px;
	overflow: hidden;
	z-index: 10;
	height: 29px;
}
.file-input-js-active input.file-input-area {
	font-size: 200px !important;
	cursor:pointer;
}
.form-holder .box-form .file-input-js-active .file-input-area {
	position:absolute;
	z-index:3;
	top:0;
	right:0;
	padding:0;
	margin:0;
	cursor:pointer !important;
	width:auto !important;
}
.form-holder .box-form .file .text {
	position:absolute;
	z-index:2;
	top:0;
	left:0;
	width:85px;
	border:1px solid #c5c6c5;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	-webkit-box-shadow: 0 1px 0 0 #e8e9e7, inset 0 1px 3px 0 #e4e5e3;
	-moz-box-shadow: 0 1px 0 0 #e8e9e7, inset 0 1px 3px 0 #e4e5e3;
	box-shadow: 0 1px 0 0 #e8e9e7, inset 0 1px 3px 0 #e4e5e3 ; 
	padding:4px 8px 4px 8px;
	background:none;
	margin: 0;
	color:#696969;
	font:10px/14px Arial, Helvetica, sans-serif;
	height:14px;
}
.form-holder .box-form .button {
	float:right;
	background:url(../images/file-upload.gif) no-repeat;
	width:84px;
	height:25px;
	overflow:hidden;
	font-size:0;
	line-height:0;
	text-indent:-9999px;
	cursor:pointer;
}
.form-holder .box-form .file .file-input-value,
.form-holder .box-form .file .button{display:none;}
.form-holder .box-form .file-input-js-active .file-input-value,
.form-holder .box-form .file-input-js-active .button{display:inline;}
.form-holder .box-form .row{
	margin:0 0 6px;
}
.form-holder .box-form .row.add{
	margin:0 0 22px;
}
.dark .form-holder .box-form .file,
.dark .form-holder .box-form select,
.dark .form-holder .box-form .row{
	display:none;
}
.form-holder  .row{
	width:100%;
	margin:0 0 34px;
	overflow:hidden;
}
.form-holder .box-form .row .radio,
.form-holder .box-form .row .check{
	width:15px;
	height:15px;
	margin:0;
	padding:0;
	float:left;
}
.form-holder .box-form label{
	float:left;
	padding:0 0 0 13px;
}
#wrapper{
	width:100%;
	overflow:hidden;
	background:url(../images/bg-wrapper.gif);
}
.dark #wrapper{background:url(../images/bg-wrapper-dark.gif);}
#header{
	width:940px;
	margin:0 auto;
	padding:0 0 17px;
	border-bottom:1px solid #e4e5e3;
}
.dark #header{border-bottom:1px solid #544c4c;}
#header:after{
	display:block;
	clear:both;
	content:'';
}
#header .logo{
	width:253px;
	height:57px;
	background:url(../images/logo-storefrontal.png) no-repeat;
	text-indent:-9999px;
	overflow:hidden;
	font-size:0;
	margin:56px 0 0 -1px;
	float:left;
}
#header .logo a{
	display:block;
	height:100%;
}
#header .print-logo{
	position:absolute;
	left:-9999px;
}
.dark #header .logo{
	background:url(../images/logo-storefrontal-dark.png) no-repeat;
}
#header .nav-holder{float:right;}
.nav-holder .link-holder{
	width:100%;
	overflow:hidden;
}
#header .nav-holder .cart{
	float:right;
	width:50px;
	text-shadow: 1px 1px 0 #ff7373;
	padding:5px 0 0;
	text-align:center;
	height:54px;
	background:url(../images/ico-cart.png) no-repeat;
	font:12px/14px 'Neuton', Arial, sans-serif;
	color:#992c2c;
	margin:0 0 24px;
	text-transform:uppercase;
	text-decoration:none;
}
#header .nav-holder .cart:hover{
	text-decoration:none;
}
.dark #header .nav-holder .cart{
	color:#855d06;
	text-shadow: 1px 1px 0 #fff;
	background:url(../images/ico-cart-dark.png) no-repeat;
} 
#header .nav-holder .cart span{
	color:#f1f2f0;
	display:block;
	text-shadow: 1px 1px 0 #cc3b3b;
	font:16px/18px 'Neuton', Arial, sans-serif;
}
.dark #header .nav-holder .cart span{
	text-shadow: 1px 1px 0 #fff;
	color:#6b4105;
}
#nav{
	float:right;
	margin:0 -15px 0 0;
	padding:0;
	list-style:none;
	font:22px/24px 'Neuton', Arial, sans-serif;
	position:relative;
	z-index:100;
}
#nav li{
	margin:0 0 0 12px;
	float:left;
	position:relative;
}
#nav>li>a{
	padding:7px 15px 8px 15px;
	color:#3a3434;
	float:left;
}
#nav .drop-dawn a{
	padding:7px 23px 8px 15px ;
}
.dark #nav li a{color:#cdcfca;}
#nav>li:hover>a{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
	background:#cc3b3b;
	color:#fff;
	text-decoration:none;
}
#nav>.drop-dawn:hover>a{
	text-decoration:none;
	background:#cc3b3b url(../images/arrow.gif) 100% 18px no-repeat;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0; 
	color:#fff;
}
.dark #nav li:hover a{background:#f4c32f;}
#nav li:hover ul{display:block;}
#nav li:hover ul li ul{display:none;}
#nav li ul li:hover ul{display:block;}
#nav li ul{
	-webkit-border-radius: 0 5px 5px 5px;
	-moz-border-radius: 0 5px 5px 5px;
	border-radius: 0 5px 5px 5px;
	border:5px solid #cc3b3b;
	display:none;
	position:absolute;
	margin:0;
	padding:0;
	list-style:none;
	top:100%;
	left:0;
	font-size:15px;
	line-height:17px;
	width:184px;
	z-index:260;
	background:url(../images/none.gif);
}
.dark #nav li ul{border:5px solid #f4c32f;}
#nav li ul li{
	float:none;
	margin:0;
	border-top:1px solid #cc3b3b;
	background:#cc3b3b;
}
#nav li ul li:first-child a{
	-webkit-border-radius: 5px 5px 0 0 ;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0; 
}
#nav li ul li:last-child a{
	-webkit-border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px; 
}
.dark #nav li ul li{
	border-top:1px solid #f4c32f;
	background:#f4c32f;
}
#nav li ul .drop-dawn:hover a{
	background:#fff url(../images/arrow-nav.png) no-repeat 100% 50%!important;
	text-decoration:none;
	color:#cc3b3b!important;
}
#nav li ul li:hover a{
	color:#cc3b3b!important;
	background:#fff!important;
	text-decoration:none;
}
.dark #nav li ul .drop-dawn:hover a{color:#855d06!important;}
#nav li ul li:hover a:hover{
	text-decoration:none;
}
#nav li ul li a{
	padding:5px 10px 8px;
	color:#cc3b3b!important;
	display:block;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	background:#f9e9e9!important;
	text-decoration:none;
}
.dark #nav li ul li a{color:#855d06!important;}
#nav li ul ul{
	width:134px;
	-webkit-border-radius: 0 5px 5px 5px;
	-moz-border-radius: 0 5px 5px 5px;
	border-radius: 0 5px 5px 5px;
	border:6px solid #cc3b3b;
	display:none;
	position:absolute;
	margin:0;
	padding:0;
	list-style:none;
	top:-7px;
	left:100%;
	z-index:250;
}
.dark #nav li ul ul{top:-6px;}
#nav li ul li ul li{
	float:none;
	margin:0;
	background:#cc3b3b;
	border-top:1px solid #cc3b3b;
}
#wrapper #nav li ul li ul li:hover a{
	color:#cc3b3b!important;
	background:#fff!important;
}
#wrapper #nav li ul li ul li  a{
	color:#cc3b3b!important;
	display:block!important;
	background:#f9e9e9!important;
}
.dark #wrapper #nav li ul li ul li  a{color:#855d06!important;}
#main{
	width:940px;
	margin:0 auto 54px;
}
#main:after{
	display:block;
	clear:both;
	content:'';
}
#main .carousel {
	margin:0 -44px;
	padding:0 44px;
	position:relative;
	width:940px;
}
#main .carousel .link-prev,
#main .carousel .link-next{
	position:absolute;
	width:25px;
	height:45px;
	text-indent:-9999px;
	overflow:hidden;
}
#main .carousel .link-prev{
	top:178px;
	left:0;
	background:url(../images/link-prev.png) no-repeat;
}
#main .carousel .link-next{
	top:178px;
	right:0;
	background:url(../images/link-next.png) no-repeat;
}
.carousel .frame {
	width:940px;
	overflow:hidden;
	position:relative;
	border-bottom:1px solid #cdcfca;
}
.dark .carousel .frame{border-bottom: 1px solid #1a1717;}
.carousel .frame ul {
	position:relative;
	width:99999px;
	padding:0;
	margin:0;
	list-style:none;
	overflow:hidden;
}
.carousel .frame ul li {
	float:left;
	position:relative;
	width:940px;
}
.carousel .frame ul li img{vertical-align:top;}
.carousel .frame ul li .text-holder{
	background:url(../images/bg-text-holder.png);
	padding: 9px 20px;
	position: absolute;
	right: 61px;
	top: 141px;
	width: 299px;
}
#main .carousel .text-holder h2{
	color:#3a3434;
	font:36px/38px 'Neuton', Arial, sans-serif;
	margin:0 0 9px;
}
.carousel .frame ul li .text-holder span{
	color:#81827f;
	display:block;
	font:14px/20px CabinRegular, Arial, sans-serif;
}
.carousel .frame ul li .text-holder a{
	color:#ff4a4b;
	float:right;
	margin:22px 0 0;
	text-transform:uppercase;
	font:14px/16px CabinSemiBold, Arial, sans-serif;
}
.dark .carousel .frame ul li .text-holder a{color:#f4c32f;}
#main .switcher{
	margin:0;
	padding:0;
	list-style:none;
	position:absolute;
	bottom:21px;
	right:64px;
}
#main .switcher li{
	margin:0 0 0 7px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/bg-swithcer.png) no-repeat;
	width:10px;
	height:10px;
	float:left;
}
#main .switcher .active,
#main .switcher li:hover{background:url(../images/bg-swithcer-hover.png) no-repeat;}
#main .switcher li a{
	display:block;
	height:100%;
}
#main .products-block{
	width:940px;
}
#main .products-list:after,
#main .products-block:after{
	content:'';
	display:block;
	clear:both;
}
#content .products-block{
	width:605px;
}
#main .products-list{
	margin:37px 0 0;
	padding:0 0 32px;
	list-style:none;
	width:110%;
}
#content .products-list{
	margin:34px 0 -18px;
	padding:0;
	vertical-align:top;
}
#content .second li{width:188px!important;}
*+html #main .products-list li{
	display:inline;
	margin-right:20px;
}
.dark #main .products-list li{background:none;}
#main .products-list li{
	display:inline-block;
	padding:0 0 8px;
	background:none;
	text-align:center;
	width:220px;
	margin:0 17px 0 0;
	vertical-align:bottom;
}
*+html #content .products-list li{
	display:inline;
	margin-right:21px;
}
#content .products-list li{
	margin-right:18px;
	width:220px;
	padding-bottom:59px;
}
#main .products-list li h3{
	font:14px/16px CabinSemiBold, Arial, sans-serif;
	color:#262626;
	margin:0 0 7px;
	text-transform:uppercase;
}
.dark #main .products-list li h3 a{color:#e9ebe6;}
#main .products-list li h3 a{color:#262626;}
.img-holder{
	background:#fff;
	margin:0 4px 6px 10px;
	padding:3px;
	float:left;
	-webkit-box-shadow: 0px 0 2px 1px #d2d2d2;
	-moz-box-shadow: 0 0 2px 1px #d2d2d2;
	box-shadow: 0 0 2px 1px #d2d2d2;
}
.wp-caption{
	text-align:center;
	padding:4px 0 0;
	overflow:hidden;
}
.alignleft .img-holder{
	margin:-3px 0 0 1px;
}
.wp-caption .wp-caption-text{
	display:block;
	font-size:12px;
	margin:0!important;
	line-height:15px;
}
.wp-caption .img-holder{
	float:none;
	display:block;
}
.img-holder img{
	vertical-align:top;
}
.img-holder a{
	display:block;
}
.products-list .img-holder{
	margin:0 0 12px;
	padding:10px;
	float:none;
	display:inline-block;
}
.products-list .img-holder img{
	vertical-align:middle;
}
.dark .img-holder{
	-webkit-box-shadow: 0 0 2px 1px #000;
	-moz-box-shadow: 0 0 2px 1px #000;
	box-shadow: 0 0 2px 1px #000; 
}
#main .products-list li .price{
	display:block;
	color:#81827f;
	margin:0 0 4px;
	text-shadow:1px 1px 0 #fff;
	text-transform:uppercase;
	font:14px/16px CabinBold, Arial, sans-serif;
}
.dark #main .products-list li .price{
	text-shadow:none;
	color:#cdcfca;
}
.btn-add{
	border:1px solid #e3e6e3;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; 
	background:#fff;
	display:inline-block;
	padding:3px;
}
.btn-add:hover{text-decoration:none;}
.btn-add:hover span{
	background: rgb(230,67,64);
	background: -moz-linear-gradient(top, rgba(230,67,64,1) 0%, rgba(255,77,74,1) 45%, rgba(255,71,68,1) 59%, rgba(255,66,63,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,67,64,1)), color-stop(45%,rgba(255,77,74,1)), color-stop(59%,rgba(255,71,68,1)), color-stop(100%,rgba(255,66,63,1)));
	background: -webkit-linear-gradient(top, rgba(230,67,64,1) 0%,rgba(255,77,74,1) 45%,rgba(255,71,68,1) 59%,rgba(255,66,63,1) 100%);
	background: -o-linear-gradient(top, rgba(230,67,64,1) 0%,rgba(255,77,74,1) 45%,rgba(255,71,68,1) 59%,rgba(255,66,63,1) 100%);
	background: -ms-linear-gradient(top, rgba(230,67,64,1) 0%,rgba(255,77,74,1) 45%,rgba(255,71,68,1) 59%,rgba(255,66,63,1) 100%);
	background: linear-gradient(top, rgba(230,67,64,1) 0%,rgba(255,77,74,1) 45%,rgba(255,71,68,1) 59%,rgba(255,66,63,1) 100%);
}
.dark .btn-add{
	border:1px solid #423b3b;
	background:#2e2929;
}
.dark .btn-add span{
	color:#724e12;
	text-shadow:0 1px 0 #fff;
	background: rgb(247,213,87);
	background: -moz-linear-gradient(top, rgba(247,213,87,1) 0%, rgba(245,202,63,1) 45%, rgba(241,181,35,1) 59%, rgba(237,166,23,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,213,87,1)), color-stop(45%,rgba(245,202,63,1)), color-stop(59%,rgba(241,181,35,1)), color-stop(100%,rgba(237,166,23,1)));
	background: -webkit-linear-gradient(top, rgba(247,213,87,1) 0%,rgba(245,202,63,1) 45%,rgba(241,181,35,1) 59%,rgba(237,166,23,1) 100%);
	background: -o-linear-gradient(top, rgba(247,213,87,1) 0%,rgba(245,202,63,1) 45%,rgba(241,181,35,1) 59%,rgba(237,166,23,1) 100%);
	background: -ms-linear-gradient(top, rgba(247,213,87,1) 0%,rgba(245,202,63,1) 45%,rgba(241,181,35,1) 59%,rgba(237,166,23,1) 100%);
	background: linear-gradient(top, rgba(247,213,87,1) 0%,rgba(245,202,63,1) 45%,rgba(241,181,35,1) 59%,rgba(237,166,23,1) 100%);
}
.dark .btn-add:hover span{
	background: #f6ce47;
	background: -moz-linear-gradient(top,  #f6ce47 0%, #f0b120 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6ce47), color-stop(100%,#f0b120));
	background: -webkit-linear-gradient(top,  #f6ce47 0%,#f0b120 100%);
	background: -o-linear-gradient(top,  #f6ce47 0%,#f0b120 100%);
	background: -ms-linear-gradient(top,  #f6ce47 0%,#f0b120 100%);
	background: linear-gradient(top,  #f6ce47 0%,#f0b120 100%);
}
.dark .btn-add:active span{
	background: #f2ba28;
	background: -moz-linear-gradient(top,  #f2ba28 0%, #f5c83b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2ba28), color-stop(100%,#f5c83b));
	background: -webkit-linear-gradient(top,  #f2ba28 0%,#f5c83b 100%);
	background: -o-linear-gradient(top,  #f2ba28 0%,#f5c83b 100%);
	background: -ms-linear-gradient(top,  #f2ba28 0%,#f5c83b 100%);
	background: linear-gradient(top,  #f2ba28 0%,#f5c83b 100%);
}
.btn-add span{
	color:#fff;
	display:block;
	text-shadow:1px 1px 0 #cd3c39;
	padding:9px 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; 
	text-transform:uppercase;
	background: rgb(255,87,84);
	background: -moz-linear-gradient(top, rgba(255,87,84,1) 0%, rgba(255,79,76,1) 40%, rgba(255,67,64,1) 59%, rgba(255,65,62,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,87,84,1)), color-stop(40%,rgba(255,79,76,1)), color-stop(59%,rgba(255,67,64,1)), color-stop(100%,rgba(255,65,62,1)));
	background: -webkit-linear-gradient(top, rgba(255,87,84,1) 0%,rgba(255,79,76,1) 40%,rgba(255,67,64,1) 59%,rgba(255,65,62,1) 100%);
	background: -o-linear-gradient(top, rgba(255,87,84,1) 0%,rgba(255,79,76,1) 40%,rgba(255,67,64,1) 59%,rgba(255,65,62,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,87,84,1) 0%,rgba(255,79,76,1) 40%,rgba(255,67,64,1) 59%,rgba(255,65,62,1) 100%);
	background: linear-gradient(top, rgba(255,87,84,1) 0%,rgba(255,79,76,1) 40%,rgba(255,67,64,1) 59%,rgba(255,65,62,1) 100%);
	text-align:center;
	font:14px/16px CabinBold, Arial, sans-serif;
}
.btn-add em.plus{
	font-style:normal;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.form-holder .btn-add{
	margin-top:14px;
	padding:4px 3px;
}
.form-holder .btn-add span{
	margin:0;
	padding:8px 6px 9px 5px;
	min-width:117px;
	cursor:pointer;
}
#main .block-holder{
	width:940px;
	padding:40px 0 0;
	overflow:hidden;
	border-top:1px solid #e4e5e3;
}
.dark #main .block-holder{
	border-top:1px solid #544c4c;
}
#main .block-holder .col{
	width:300px;
	float:left;
	margin:0 0 0 20px;
}
#main .block-holder .col:first-child{margin:0;}
#main .block-holder .col .widget{
	background:#fff;
	-webkit-border-radius: 5px;
	border-bottom:1px solid #cdcfca;
	-moz-border-radius: 5px;
	border-radius: 5px; 
	width:262px;
	margin:0 0 20px;
	padding:17px 19px 0;
}
.dark #main .block-holder .col .widget{
	background:#2e2929;
	border-bottom:1px solid #1a1717;
}
#main .block-holder .col .widget h3{
	margin:0 0 13px;
	color:#ff4a4b;
	font:18px/20px CabinBold, Arial, sans-serif;
}
.dark #main .block-holder .col .widget h3 a{color:#e9ebe6;}
#main .block-holder .col .widget h3 a{
	color:#ff4a4b;
}
.col .widget .text-block{
	width:100%;
	padding:0 0 4px;
	margin:0 0 7px;
	overflow:hidden;
	border-bottom:1px solid #e6e8e3;
}
.dark .col .widget .text-block{border-bottom:1px solid #544c4c;}
.col .widget .text-block span{
	font:14px/24px CabinRegular, Arial, sans-serif;
	color:#81827f;
	display:block;
	margin:10px 0 5px;
}
.col .widget .video-holder{
	margin:0 0 7px;
	display:block;
	position:relative;
}
.col .widget .video-holder span{display:none;}
.col .widget .video-holder:hover span{
	background:url(../images/ico-glass.png) no-repeat;
	position:absolute;
	top:50%;
	display:block;
	width:65px;
	height:40px;
	text-decoration:none;
	cursor:pointer;
	left:50%;
	margin:-20px 0 0 -32px;
}
.col .widget .comments{
	font:10px/12px CabinBold, Arial, sans-serif;
	color:#81827f;
	text-align:center;
	text-transform:uppercase;
	display:block;
	margin:0 0 8px;
}
.col .widget blockquote{
	margin:-6px 0 11px;
	font:16px/24px CabinRegular, Arial, sans-serif;
	padding:0;
	color:#3a3434;
}
.dark .col .widget blockquote{color:#cdcfca;}
.col .widget blockquote q{
	quotes:none;
	font-style:normal;
}
.col .widget  .update{
	text-align:left;
	margin:-3px 0 -3px;
	padding:0;
	list-style:none;
	font:16px/18px CabinRegular, Arial, sans-serif;
}
.col .widget  .update li{
	margin:0 0 6px;
}
.col .widget  .update li a{color:#3a3434;}
.dark .col .widget  .update li a{color:#cdcfca;}
.cart-widget{
	background:#fff;
	-webkit-border-radius: 5px;
	border-bottom:1px solid #cdcfca;
	-moz-border-radius: 5px;
	border-radius: 5px; 
	width:262px;
	margin:0 0 29px;
	padding:17px 19px;
}
.dark .cart-widget{
	background:#2e2929;
	border-bottom:1px solid #1a1717;
}
.dark #main .cart-widget h2{color:#e9ebe6;}
#main .cart-widget h2{
	font:24px/26px CabinBold, Arial, sans-serif;
	margin:0 0 17px;
	color:#3a3434;
}
.cart-widget .items{
	margin:0 0 5px;
	padding:0;
	list-style:none;
	overflow:hidden;
}
.cart-widget .items li{
	vertical-align:top;
	width:100%;
	overflow:hidden;
	color:#81827f;
	margin:0 0 12px;
	padding:0 0 17px;
	font:12px/14px CabinRegular, Arial, sans-serif;
	text-transform:uppercase;
	background:url(../images/bg-cart.gif) repeat-x 0 100%;
}
.dark .cart-widget .items li{
	background:url(../images/bg-cart-dark.gif) repeat-x 0 100%;
	color:#cdcfca;
}
.cart-widget .items li a{color:#81827f;}
.dark .cart-widget .items li a{color:#cdcfca;}
.cart-widget .items li img{
	margin:2px 11px 0 0;
	float:left;
}
.cart-widget .items .heading{
	background:#e6e8e3;
	color:#000;
	padding:7px 0 7px 11px;
	margin:0 0 12px;
	text-transform:uppercase;
	font:14px/16px CabinRegular, Arial, sans-serif;
}
.dark .cart-widget .items .heading{
	background:#3b3535;
	color:#e9ebe6;
}
.cart-widget .items .heading .col-1{width:150px;}
.cart-widget .items span{float:left;}
.cart-widget .items .col-1{width:161px;}
.cart-widget .items .col-2{width:50px;}
.cart-widget .items .col-3{width:50px;}
.cart-widget .subtotal{
	color:#000;
	float:right;
	margin:0 3px 14px 0;
	font:14px/16px CabinRegular, Arial, sans-serif;
	text-transform:uppercase;
}
.dark .cart-widget .subtotal{color:#cdcfca;}
.cart-widget .links-holder{
	width:100%;
	overflow:hidden;
}
.cart-widget .empty{
	color:#ff4a4b;
	font:14px/16px CabinRegular, Arial, sans-serif;
	float:left;
	text-transform:uppercase;
}
.dark .cart-widget .empty{color:#f4c32f;}
.cart-widget .checkout{
	color:#ff4a4b;
	margin:0 2px 0 0;
	font:14px/16px CabinBold, Arial, sans-serif;
	float:right;
	text-transform:uppercase;
	background:url(../images/arrow-2.gif) 100% 5px no-repeat;
	padding:0 11px 0 0;
}
.cart-widget .checkout:hover{text-decoration:none;}
.dark .cart-widget .checkout:hover{text-decoration:none;}
.dark .cart-widget .checkout{
	color:#f4c32f;
	background:url(../images/arrow-2-dark.gif) 100% 5px no-repeat;
}
#footer{
	width:100%;
	overflow:hidden;
	background:url(../images/bg-footer.gif) repeat-x;
	padding:10px 0 0 0;
}
.footer-holder{
	width:100%;
	overflow:hidden;
	background:#262323 url(../images/bg-footer-holder.gif);
	padding:0 0 55px;
}
.dark .footer-holder{background:url(../images/bg-footer-holder-dark.gif);}
.footer-frame{
	width:940px;
	margin:0 auto;
	padding:29px 0 0;
}
.footer-frame:after{
	content:'';
	display:block;
	clear:both;
}
.footer-frame p{margin:0 0 20px;}
.footer-holder h2{
	font:24px/26px CabinBold, Arial, sans-serif;
	color:#f1f2f0;
	margin:0 0 13px;
}
.dark .footer-holder h2{color:#cdcfca;}
.footer-holder h2 a{color:#f1f2f0;}
.dark .footer-holder h2 a{color:#cdcfca;}
.footer-holder .frame{width:570px!important;}
.footer-holder .block{
	width:300px;
	float:left;
	color:#cdcfca;
	font:14px/20px CabinRegular, Arial, sans-serif;
}
.footer-form{
	margin:16px 0 0 0;
	position:relative;
	right:-2px;
}
#sidebar .footer-form{
	right:2px;
	margin-top:-6px;
	border-top: 1px solid #e4e5e3;
	padding:26px 0 0;
}
#sidebar .cart-widget+.footer-form{
	margin:0;
	padding:29px 0 0;
}
#footer .footer-form .input-holder,
.dark .input-holder{
	width:296px;
	background:#2e2929;
	border:1px solid #544c4c;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
	overflow:hidden;
	margin:0 0 36px;
}
.input-holder{
	width:299px;
	border:1px solid #e4e5e3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
	overflow:hidden;
	margin:0 0 36px;
	background:#fff;
}
.input-holder input{
	width:245px;
	padding:11px 10px 11px 10px;
	margin:0;
	background:none;
	float:left;
	border:none;
	color:#656261;
	font-size:14px;
}
#sidebar .input-holder input{
	font-weight:bold;
	color:#cdcfca;
}
.input-holder .btn-search{
	float:left;
	width:17px;
	text-indent:-9999px;
	margin:12px 0 0 2px;
	cursor:pointer;
	overflow:hidden;
	height:17px;
	background:url(../images/btn-search.png) no-repeat;
}
.footer-holder .block-holder{
	width:301px;
	float:right;
}
.footer-holder .block .social-networks{
	margin:16px 0 0;
	padding:0;
	list-style:none;
	overflow:hidden;
}
 .block .social-networks li{
	float:left;
	margin:0 0 0 10px;
 }
  .block .social-networks li:first-child{margin:0;}
 .block .social-networks li a{
	text-indent:-9999px;
	overflow:hidden;
	float:left;
	width:32px;
	height:32px;
 }
.block .social-networks .amazon{background:url(../images/ico-amazon.png) no-repeat;}
.block .social-networks .yahoo{background:url(../images/ico-yahoo.png) no-repeat;}
.block .social-networks .facebook{background:url(../images/ico-fb.png) no-repeat;}
.block .social-networks .twiter{background:url(../images/ico-tw.png) no-repeat;}
#content{
	width:605px;
	font:14px/20px CabinRegular, Arial, sans-serif;
	float:left;
	color:#81827f;
	margin:-5px 0 0;
}
.dark #content{color:#cdcfca;}
.dark #content a{color:#f4c32f;}
#content .post{
	width:100%;
	overflow:hidden;
	margin:0 0 39px;
	padding:35px 0 0 0;
	border-top:1px solid #e4e5e3;
}
.dark #content .post{border-top:1px solid #544c4c;}
#content .post:first-child{border:none;}
#content .post .info{
	width:120px;
	border-bottom:1px solid #cdcfca;
	background:#fff;
	margin:3px 30px 0 11px;
	padding:18px 0 15px;
	float:left;
	-webkit-border-radius: 0 5px 5px 5px;
	-moz-border-radius: 0 5px 5px 5px;
	border-radius: 0 5px 5px 5px;
}
.dark #content .post .info{
	border-bottom:1px solid #1a1717;
	background:#2e2929;
}
#content .post .info .img-holder{
	background:#fff;
	width:136px;
	margin:-17px 0 9px -11px;
	padding:2px;
	display:block;
-webkit-box-shadow: 0 1px 2px 1px #d2d2d2;
-moz-box-shadow: 0 1px 2px 1px #d2d2d2;
box-shadow: 0 1px 2px 1px #d2d2d2; 
}
#content .post .info .img-holder img{vertical-align:top;}
#content .post .info dl{
	margin:0 0 19px;
	text-align:center;
}
#content .post .info dt{
	color:#cdcfca;
	text-transform:uppercase;
	font:10px/12px CabinBold, Arial, sans-serif;
}
#content .post .info dd{
	color:#81827f;
	margin:0 0 10px;
	font:12px/14px CabinRegular, Arial, sans-serif;
}
#content .post .info .date{
	color:#81827f;
	font:12px/14px CabinRegular, Arial, sans-serif;
}
#content .post .info  a{color:#ff4a4b;}
.dark #content .post .info  a{color:#f4c32f;}
#content .post .social-networks{
	margin:0;
	padding:0;
	list-style:none;
	overflow:hidden;
	text-align:center;
	text-transform:uppercase;
	font:12px/18px CabinBold, Arial, sans-serif;
}
#content .post .social-networks li{
	background:none;
	margin:0 0 5px;
	padding:0;
}
#content .post .social-networks li a{
	background:url(../images/ico-share.png) no-repeat;
	padding:2px 0 2px 22px;
	color:#ff4a4b;
}
#content .post .text{
	float:left;
	color:#81827f;
	width:439px;
	font:14px/20px CabinRegular, Arial, sans-serif;
}
.dark #content .post .text{color:#cdcfca;}
#content .post .text p{margin:0 0 20px;}
#content .post .text .more{
	float:right;
	margin:2px 0 0 0;
	color:#ff4a4b;
	font:14px/16px CabinBold, Arial, sans-serif;
	background:url(../images/arrow-2.gif) 100% 5px no-repeat;
	padding:0 10px 0 0;
}
.dark #content .post .text .more{
	color:#f4c32f;
	background:url(../images/arrow-2-dark.gif) 100% 5px no-repeat;
}
#content .post .text h2{
	font:24px/26px CabinBold, Arial, sans-serif;
	color:#3a3434;
	margin:0 0 13px;
}
#content .post .text h2 a{color:#3a3434;}
.dark #content .post .text h2 a{color:#e9ebe6;}
#content .paging-holder{
	width:602px;
	padding:29px 0 6px;
	margin:0;
	overflow:hidden;
	border-top:1px solid #e4e5e3;
	text-align:center;
}
#content .paging-holder .next-link,
#content .paging-holder .prev-link{
	font:14px/24px CabinBold, Arial, sans-serif;
	color:#544c4c;
	float:left;
}
#content .paging-holder .next-link{
	background:url(../images/arrow-r.gif) 100% 10px no-repeat;
	padding:0 14px 0 0;
}
#content .paging-holder .prev-link{
	background:url(../images/arrow-l.gif) 0 10px no-repeat;
	padding:0 0 0 14px;
}
.dark #content .paging-holder .next-link{
	background:url(../images/arrow-r-dark.gif) 100% 10px no-repeat;
	color:#f4c32f;
}
.dark #content .paging-holder .prev-link{
	background:url(../images/arrow-l-dark.gif) 0 10px no-repeat;
	color:#f4c32f;
}
#content .paging-frame{
	display:inline-block;
	overflow:hidden;
}
* +html #content .paging-frame{display:inline;}
#content .paging{
	margin:0 6px 0 21px;
	padding:0;
	list-style:none;
	float:left;
	font:14px/20px CabinBold, Arial, sans-serif;
}
#content .paging li{
	background-color:#f7faf7;
	background:none;
	border:2px solid #d8d9d7;
	text-align:center;
	float:left;
	width:20px;
	padding:0;
	margin:0 13px 0 0;
}
#content .paging li:hover,
#content .paging .active{
	background:#544c4c;
	border:2px solid #3a3434;
	color:#f1f2f0;
}
.dark #content .paging li{background:none;}
.dark #content .paging li:hover,
.dark #content .paging .active{
	background:#544c4c;
	border:2px solid #000;
	color:#f1f2f0;
}
#content .paging li:hover a,
#content .paging .active a{
	text-decoration:none;
	color:#f1f2f0;
}
#content .paging li a{
	display:block;
	color:#544c4c;
}
#sidebar{
	width:299px;
	padding:31px 0 0;
	float:right;
}
#sidebar .sb-widget{
	width:100%;
	padding:25px 0;
	color:#81827f;
	font:14px/20px CabinRegular, Arial, sans-serif;
	overflow:hidden;
	border-top:1px solid #e4e5e3;
}
.dark #sidebar .sb-widget{
	color:#cdcfca;
	border-top:1px solid #544c4c;}
#sidebar .sb-widget p{margin:0!important;}
#sidebar .sb-widget h2{
	font:24px/26px CabinBold, Arial, sans-serif;
	color:#3a3434;
	margin:0 0 13px;
}
.dark #sidebar .sb-widget h2{color:#e9ebe6;}
.dark #sidebar .sb-widget h2 a{color:#e9ebe6;}
#sidebar .sb-widget h2 a{color:#3a3434;}
#sidebar .sb-widget .sb-nav{
	margin:0 0 0 4px;
	padding:6px 0 0;
	font:16px/18px CabinBold, Arial, sans-serif;
	list-style:none;
	overflow:hidden;
}
#sidebar .sb-widget .sb-nav li{
	background:url(../images/separator-sb-nav.png) no-repeat 0 8px;
	padding: 0 0 0 15px;
	margin:0 0 8px;
}
.dark #sidebar .sb-widget .sb-nav li{background:url(../images/separator-sb-nav-dark.png) no-repeat 0 8px;}
#sidebar .sb-widget .sb-nav li a{color:#ff4a4b;}
.dark #sidebar .sb-widget .sb-nav li a{color:#f4c32f;}
#content  h2{
	font:24px/26px CabinBold, Arial, sans-serif;
	color:#3a3434;
	margin:35px 0 13px;
}
.dark #content h2{color:#e9ebe6;}
.dark #content h2 a{color:#e9ebe6;}
#content  h2 a{color:#3a3434;}
#content .single-holder{
	width:100%;
	border-bottom: 1px solid #e4e5e3;
	overflow:hidden;
	margin:0 0 24px;
}
.dark #content .single-holder{border-bottom:1px solid #544c4c;}
#content .single-frame{
	width:100%;
	overflow:hidden;
	padding:0 0 31px;
	margin:28px 0 0;
}
#content .single-frame .img-holder{
	margin:0 20px 0 0;
	padding:10px;
}
#content .single-frame .text-holder{overflow:hidden;}
#content .single-frame  p{
	margin:0 0 55px;
}
#content .single-frame .price{
	color:#3a3434;
	text-transform:uppercase;
	display:block;
	margin:0 0 7px;
	font:18px/20px CabinBold, Arial, sans-serif;
}
.dark #content .single-frame  .price{color:#cdcfca;}
#content .related-block{
	width:605px;
}
#content .related-block:after{
	content:'';
	display:block;
	clear:both;
}
#content .related-block h3{
	font:20px/22px CabinBold, Arial, sans-serif;
	color:#3a3434;
	margin:0 0 -1px;
	position:relative;
	left:-1px;
}
