.outtaHere {
	position:absolute;
	left:-3000px;
}
/*Radio buttons*/
.radioArea, .radioAreaChecked {
	float:left;
	width:14px !important;
	height:16px;
	background: url(../images/radio.gif) no-repeat;
	overflow: hidden;
}
.radioAreaChecked {background-position: 0 -31px;}
/*Checkboxes*/
.checkboxArea, .checkboxAreaChecked {
	float:left;
	width:16px !important;
	height:16px;
	overflow: hidden;
	background: url(../images/checkbox.gif) no-repeat;
}
.checkboxAreaChecked {background-position: 0 -31px;}

/* Selects */
.selectArea {
	position: relative;
	height: 23px;
	float:left;
	color:#000;
	font-size:11px;
	line-height:23px;
}
.selectArea .left {
	position: absolute;
	top: 0;
	left: 0;
	width:6px;
	height:100%;
	background: url(../images/select-left.gif) no-repeat;
}
.dark .selectArea .left{
	background-image: url(../images/select-left-dark.png);
}
.selectArea a.selectButton {
	position: absolute;
	top: 0;
	color:#606160;
	right: 0;
	width:100%;
	height:100%;
	background: url(../images/select-button.gif) no-repeat 100% 0;
}
.dark .selectArea a.selectButton{
	background-image: url(../images/select-button-dark.png);
}
.selectArea .center{
	height: 23px;
	line-height:20px;
	font-size:14px;
	color:#606160;
	display:block;
	padding:0 10px;
	background: url(../images/select-center.gif) repeat-x;
}
.dark .selectArea .center{
	color: #BBB;
	background-image: url(../images/select-center-dark.png);
}
.selectArea .center img {
	float:left;
}
/*Selects drop-down*/
.optionsDivInvisible,
.optionsDivVisible {
	position: absolute;
	background-color: #e5e5e5;
	border: 1px solid #c9c9c9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: 30;
	font-size: 11px;
}
.optionsDivScroll ul {
	height: 205px;
	overflow: auto !important;
}
.drop-dif {
	background:#9cc;
}
.optionsDivInvisible {display: none;}
.optionsDivVisible ul {
	margin:0;
	padding:2px;
	overflow:hidden;
	list-style: none;
}
.optionsDivVisible ul li {
	float:left;
	width:100%;
}
.optionsDivVisible a {
	color:#606160;
	overflow:hidden;
	text-decoration: none;
	display: block;
	height:1%;
	padding: 2px 4px;
}
.optionsDivVisible a img {
	border:none;
	float:left;
}
.optionsDivVisible a:hover {
	background-color: #2f384e;
	color: #fff;
	text-decoration:none;
}