$serif-font: Neuton, Georgia, serif;
$sans-serif-font: Cabin, Arial, sans-serif;

$primary-color: #ff4a4b;

$base-font-color: #81827f;
$header-font-color: #3a3434;
$background-color: #f1f2f0;
$border-color: #e4e5e3;
$paging-link-color: #544c4c;

$base-font-size: 140%;
$base-line-height: 1.5;

$max-site-width: 906px;


/* @group Base */

body {
  margin: 0;
  color: $base-font-color;
  font: $base-font-size / $base-line-height $sans-serif-font;
  background: $background-color;
}

h1,h2,h3,h4,h5,h6{
  color: $header-font-color;
  font-weight: bold;
  margin: 0 0 1em;
  font-family: $sans-serif-font;
}

h1{
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5,h6 {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: $primary-color;
  &:hover {
    text-decoration: underline;
  }
}

img{
  max-width: 100%;
  height: auto;
}

p {
  margin: 0 0 1em;
}

blockquote {
  margin: 21px 0 1em;
  padding: 0 39px;
  color: $header-font-color;
  font-size: 1.2em;
  border-left-width: 3px;
  -moz-border-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHUlEQVQIW2P8//+/PSMj40EGIGAEESAAFoQzgLIA2ZcLQFS9uIoAAAAASUVORK5CYII=) 0 0 0 4 repeat;
  -webkit-border-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHUlEQVQIW2P8//+/PSMj40EGIGAEESAAFoQzgLIA2ZcLQFS9uIoAAAAASUVORK5CYII=) 0 0 0 4 repeat;
  border-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHUlEQVQIW2P8//+/PSMj40EGIGAEESAAFoQzgLIA2ZcLQFS9uIoAAAAASUVORK5CYII=) 0 0 0 4 repeat;

  q {
    quotes: none;
    margin: 0 0 10px;
    display: block;
  }

  cite {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: $base-font-color;
    display: block;
  }
}

/* @end */

/* @group Alignment */

.alignleft {
	display: inline;
	float: left;
	margin: 1em auto;
	margin-right: 1.5em;
}

.alignleft .img-holder {
  margin: -3px 0 0 1px;
}

.alignright {
	display: inline;
	float: right;
	margin: 1em auto;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 1em auto;
}

/* @end */


/* @group Pagination */

.paging-holder {
  width: auto;
  padding: 14px 0 10px 0;
  margin: 0;
  overflow: hidden;
  border-top: 1px solid $border-color;
  text-align: center;
  border-top-color: #666;

  .next-link,
  .prev-link {
    color: #544c4c;
    float: left;
  }

  .next-link {
    background: url(assets/images/arrow-r.gif) 100% 10px no-repeat;
    padding: 0 14px 0 0;
  }

  .prev-link {
    background: url(assets/images/arrow-l.gif) 0 10px no-repeat;
    padding: 0 0 0 14px;
  }
}

.paging-frame {
  display: inline-block;
  overflow: hidden;
}

.paging {
  margin: 0 6px 0 21px;
  padding: 0;
  list-style: none;
  float: left;
  font-weight: bold;
  font-size: 1em;
  font-family: $sans-serif-font;

  a {
    display: block;
    color: #544c4c;

    &:hover,
    &.current {
      text-decoration: none;
      color: #f1f2f0;
    }
  }

  li {
    background-color: #f7faf7;
    background: none;
    border: 2px solid #d8d9d7;
    text-align: center;
    float: left;
    width: 20px;
    padding: 0;
    margin: 0 13px 0 0;
    &:hover {
      background: #544c4c;
      border: 2px solid $header-font-color;
      color: #f1f2f0;
    }
  }

  .active {
    background: #544c4c;
    border: 2px solid $header-font-color;
    color: #f1f2f0;
  }

  li:hover a,
  .active a {
    text-decoration: none;
    color: #f1f2f0;
  }

  li a {
    display: block;
    color: #544c4c;
  }

  .nextpostslink,
  .previouspostslink {
    font-weight: bold;
    font-size: 1em;
    font-family: $sans-serif-font;
    color: #544c4c;
    float: left;
    width: auto;
    border: 0;

    &:hover {
      text-decoration: underline;
    }
  }

  .nextpostslink {
    background: url(images/arrow-r.gif) 100% 10px no-repeat;
    padding: 0 14px 0 0;
  }

  span {
    background: #f7faf7;
    border: 2px solid #d8d9d7;
    text-align: center;
    float: left;
    width: 20px;
    margin: 0 13px 0 0;
  }

  a {
    background: #f7faf7;
    border: 2px solid #d8d9d7;
    text-align: center;
    float: left;
    width: 20px;
    margin: 0 13px 0 0;

    &:hover {
      background: #544c4c;
      border: 2px solid $header-font-color;
      color: #f1f2f0;
    }
  }

  .current {
    background: #544c4c;
    border: 2px solid $header-font-color;
    color: #f1f2f0;
  }
}

.paging-holder .previouspostslink {
  background: url(images/arrow-l.gif) 0 10px no-repeat !important;
  padding: 0 0 0 14px;
}

.navigation {
  .prev {
    float: left;
  }

  .next {
    float: right;
  }

  width: 100%;
  overflow: hidden;
}

/* @end */

/* @group Comments */

.row{
  margin-bottom: 1em;
}

.commentlist {
  margin: 0;
  padding: 0;
  list-style: none;

  .avatar {
    float: left;
    margin: 0 10px 0 0;
  }

  p {
    margin: 0 0 5px;
  }
}

.comment {
  margin-left: 70px;
  min-height: 48px;
  position: relative;

  img {
    position: absolute;
    left: -70px;
  }
}

.col .widget {
  .comments a {
    color: $base-font-color;
  }

  .update {
    color: #CDCFCA;
  }
}

/* @end */

/* @group Wrapper */

#wrapper {
  padding: 0 20px;
  overflow: hidden;
  background: url(assets/images/bg-wrapper.gif);
}

/* @end */

/* @group Header */

#header {
  width: auto;
  max-width: $max-site-width;
  margin: 0 auto 27px;
  padding: 0 0 17px;
  position: relative;
  border-bottom: 1px solid $border-color;

  &:after {
    display: block;
    clear: both;
    content: '';
  }

  .print-logo {
    position: absolute;
    left: -9999px;
  }

  .header-text {
    padding: 30px 0 0 6px;

    p.desc {
      text-transform: uppercase;
      font-family: $serif-font;
      font-size: 1.2em;
      color: #6b6666;
      display: block;
    }

    .logo {
      float: left;
      margin: 56px 60px 0 0;
      line-height: 1em;
      height: auto;
      background: none;
      float: none;
      margin: 0;
      margin-bottom: 0.3em;

      a {
        width: auto;
        height: auto;
        background: none;
        font-family: $serif-font;
        color: $primary-color;
        font-size: 1.6em;
        font-weight: normal;
        text-decoration: none;
        text-indent: none;
        width: auto;
        height: auto;
        overflow: none;
        display: inline;
        float: none;
      }
    }
  }

  .link-holder {
    width: 100%;
    overflow: visible;
    height: 1px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .cart {
    float: right;
    width: 50px;
    text-shadow: 1px 1px 0 #ff7373;
    padding: 5px 0 0;
    text-align: center;
    height: 54px;
    background: url(assets/images/ico-cart.png) no-repeat;
    font: 12px / 14px $serif-font;
    color: #992c2c;
    margin: 0 0 24px;
    text-transform: uppercase;
    text-decoration: none;

      &:hover {
      text-decoration: none;
    }

   span {
      color: #f1f2f0;
      display: block;
      text-shadow: 1px 1px 0 #cc3b3b;
      font: 16px / 18px $serif-font;
    }
  }

  .nav-holder {
    width: auto;
    float: none;
    clear: both;
  }

  div > {
    ul {
      margin: 0 0 0;
      padding: 0;
      list-style: none;
      font: 17px / 20px $serif-font;
      position: relative;
      z-index: 100;

      li {
        margin: 0 12px 0 0;
        float: left;
        position: relative;
        font-size: 1.4em;
      }
    }

    ul > li > a {
      padding: 8px;
      color: $header-font-color;
      float: left;
    }
    ul .drop-down > a {
      padding-right: 23px;
      background: transparent url(assets/images/arrow_black.png) 100% 18px no-repeat;
    }

    ul > li:hover > a {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background: #cc3b3b;
      color: #fff;
      text-decoration: none;
    }
    ul > .drop-down:hover > a {
      text-decoration: none;
      background: #cc3b3b url(assets/images/arrow_white.png) 100% 18px no-repeat;
      -webkit-border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;
      color: #fff;
    }
  }

  div > ul li {
    &:hover ul {
      display: block;
      li ul {
        display: none;
      }
    }
    ul {
      -webkit-border-radius: 0 5px 5px 5px;
      -moz-border-radius: 0 5px 5px 5px;
      border-radius: 0 5px 5px 5px;
      border: 5px solid #cc3b3b;
      display: none;
      position: absolute;
      margin: 0;
      padding: 0;
      list-style: none;
      top: 100%;
      left: 0;
      font-size: 15px;
      line-height: 17px;
      width: 184px;
      z-index: 260;
      background: url(assets/images/none.gif);

      li:hover ul {
        display: block;
      }
    }
  }

  div > ul li ul li {
    float: none;
    margin: 0;
    border-top: 1px solid #cc3b3b;
    background: #cc3b3b;

    &:first-child a {
      -webkit-border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;
    }

    &:last-child a {
      -webkit-border-radius: 0 0 5px 5px;
      -moz-border-radius: 0 0 5px 5px;
      border-radius: 0 0 5px 5px;
    }
  }

  div {
    .sub-menu .drop-down {
      > a {
        background-image: url(assets/images/arrow-nav.png) !important;
        background-repeat: no-repeat !important;
        background-position: 100% 50% !important;
      }

      &:hover > a {
        background: white url(assets/images/arrow-nav.png) no-repeat 100% 50% !important;
        text-decoration: none;
        color: #cc3b3b!important;
      }
    }
    > ul li ul li:hover a {
      color: #cc3b3b!important;
      background: #fff!important;
      text-decoration: none;
    }
  }

  div > ul li ul li {
    &:hover a:hover {
      text-decoration: none;
    }
    a {
      padding: 5px 10px 8px;
      color: #cc3b3b!important;
      display: block;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      background: rgba(255, 255, 255, 0.9) !important;
      text-decoration: none;
    }
  }

  div > ul li ul ul {
    width: 134px;
    -webkit-border-radius: 0 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 5px;
    border-radius: 0 5px 5px 5px;
    border: 6px solid #cc3b3b;
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    top: -7px;
    left: 100%;
    z-index: 250; }

  div > ul li ul li ul li {
    float: none;
    margin: 0;
    background: rgba(255, 255, 255, 0.9);
    border-top: 1px solid #cc3b3b; }

  div > ul li ul li ul li {
    &:hover a {
      color: #cc3b3b !important;
      background: #fff !important; }
    a {
      color: #cc3b3b !important;
      display: block !important;
      background: rgba(255, 255, 255, 0.9) !important;
    }
  }
}

.home{
  header{
    border-bottom: none;
  }
}

.home #header{
  border-bottom: none;
  margin-bottom: 0;
}

/* @end */

/* @group Main */

#main {
  width: auto;
  max-width: $max-site-width;
  margin: 0 auto 54px;

  &:after {
    display: block;
    clear: both;
    content: '';
  }

  .switcher {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    bottom: 21px;
    right: 64px;

    li {
      margin: 0 0 0 7px;
      text-indent: -9999px;
      overflow: hidden;
      background: url(assets/images/bg-swithcer.png) no-repeat;
      width: 10px;
      height: 10px;
      float: left;
    }

    .active {
      background: url(assets/images/bg-swithcer-hover.png) no-repeat;
    }

    li {
      &:hover {
        background: url(assets/images/bg-swithcer-hover.png) no-repeat;
      }

      a {
        display: block;
        height: 100%;
      }
    }
  }
}

/* @end */

/* @group Images */

.img-holder {
  background: #fff;
  margin: 0 4px 6px 10px;
  padding: 3px;
  float: left;
  -webkit-box-shadow: 0px 0 2px 1px #d2d2d2;
  -moz-box-shadow: 0 0 2px 1px #d2d2d2;
  box-shadow: 0 0 2px 1px #d2d2d2;

  img {
    vertical-align: top;
  }

  a {
    display: block;
  }
}

.wp-caption {
  margin-bottom: 1em;
  @include border-radius(2px);
  text-align: center;
  padding: 4px 0 0;
  overflow: hidden;

  img{
    width: 100%;
    height: auto;
  }

  .wp-caption-text {
    font-style: italic;
    padding: .75em 0 1em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: block;
    font-size: 12px;
    margin: 0!important;
    line-height: 15px;
  }

  .img-holder {
    float: none;
    display: block;
  }

  p:last-child{
    margin-bottom:0;
  }
}

.products-list .img-holder {
  margin: 0 0 12px;
  padding: 10px;
  float: none;
  display: inline-block;

  img {
    vertical-align: middle;
  }
}

/* @end */

/* @group Forms */

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="month"],
input[type="number"],
input[type="color"],
input[type="email"],
textarea{
  border: none;
  color: #333;
  background: #fff;
  padding: 6px 10px;
  border: 2px solid transparent;
  @include border-radius(4px);

  &:focus{
    outline: none;
    border: 2px solid #d9d9d9;
  }
}

.btn-add {
  border: 1px solid #e3e6e3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  display: inline-block;
  padding: 3px;

  &:hover {
    text-decoration: none;

    span {
      background: rgb(230, 67, 64);
      background: -moz-linear-gradient(top, rgba(230, 67, 64, 1) 0%, rgba(255, 77, 74, 1) 45%, rgba(255, 71, 68, 1) 59%, rgba(255, 66, 63, 1) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(230, 67, 64, 1)), color-stop(45%, rgba(255, 77, 74, 1)), color-stop(59%, rgba(255, 71, 68, 1)), color-stop(100%, rgba(255, 66, 63, 1)));
      background: -webkit-linear-gradient(top, rgba(230, 67, 64, 1) 0%, rgba(255, 77, 74, 1) 45%, rgba(255, 71, 68, 1) 59%, rgba(255, 66, 63, 1) 100%);
      background: -o-linear-gradient(top, rgba(230, 67, 64, 1) 0%, rgba(255, 77, 74, 1) 45%, rgba(255, 71, 68, 1) 59%, rgba(255, 66, 63, 1) 100%);
      background: -ms-linear-gradient(top, rgba(230, 67, 64, 1) 0%, rgba(255, 77, 74, 1) 45%, rgba(255, 71, 68, 1) 59%, rgba(255, 66, 63, 1) 100%);
      background: linear-gradient(top, rgba(230, 67, 64, 1) 0%, rgba(255, 77, 74, 1) 45%, rgba(255, 71, 68, 1) 59%, rgba(255, 66, 63, 1) 100%);
    }
  }
}

.btn-add {
  span {
    color: #fff;
    display: block;
    text-shadow: 1px 1px 0 #cd3c39;
    padding: 9px 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    background: rgb(255, 87, 84);
    background: -moz-linear-gradient(top, rgba(255, 87, 84, 1) 0%, rgba(255, 79, 76, 1) 40%, rgba(255, 67, 64, 1) 59%, rgba(255, 65, 62, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 87, 84, 1)), color-stop(40%, rgba(255, 79, 76, 1)), color-stop(59%, rgba(255, 67, 64, 1)), color-stop(100%, rgba(255, 65, 62, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 87, 84, 1) 0%, rgba(255, 79, 76, 1) 40%, rgba(255, 67, 64, 1) 59%, rgba(255, 65, 62, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 87, 84, 1) 0%, rgba(255, 79, 76, 1) 40%, rgba(255, 67, 64, 1) 59%, rgba(255, 65, 62, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 87, 84, 1) 0%, rgba(255, 79, 76, 1) 40%, rgba(255, 67, 64, 1) 59%, rgba(255, 65, 62, 1) 100%);
    background: linear-gradient(top, rgba(255, 87, 84, 1) 0%, rgba(255, 79, 76, 1) 40%, rgba(255, 67, 64, 1) 59%, rgba(255, 65, 62, 1) 100%);
    text-align: center;
    font-size: 14px;
    line-height: 16px;
  }

  em.plus {
    font-style: normal;
    font-weight: bold;
  }
}

.form-holder .btn-add {
  margin-top: 14px;
  padding: 4px 3px;

  span {
    margin: 0;
    padding: 8px 6px 9px 5px;
    min-width: 117px;
    cursor: pointer;
  }
}

/* @end */

/* @group Sidebar */

#sidebar {
  width: 30%;
  padding: 0;
  float: right;

  .widget {
    color: $base-font-color;
    overflow: hidden;
    border-top: 1px solid $border-color;
    padding-top: 20px;
    padding-bottom: 20px;

    &:first-child{
      border-top: none;
    }

    p {
      margin: 0!important;
    }

    h4 {
      margin: 0 0 13px;

      a {
        color: $header-font-color;
      }
    }

    .sb-nav {
      margin: 0 0 0 4px;
      padding: 6px 0 0;
      font-size: 16px;
      line-height: 18px;
      list-style: none;
      overflow: hidden;

      li {
        background: url(assets/images/separator-sb-nav.png) no-repeat 0 8px;
        padding: 0 0 0 15px;
        margin: 0 0 8px;

        a {
          color: $primary-color;
        }
      }
    }

    .input-holder input {
      font-weight: bold;
      color: #cdcfca;
    }

  }

  .footer-form {
    right: 2px;
    padding: 0;
  }

  .cart-widget+.footer-form {
    margin: 0;
    padding: 29px 0 0;
  }

  .widget_search{
    overflow: visible;
    background: none;
    padding: 0;
    border: 0;
  }

  .widget_wpsc_shopping_cart{
    padding-top: 20px !important;
  }

}

/* @end */

/* @group Widgets */

#footer .footer-form .input-holder {
  width: auto;
  background: #2e2929;
  border: 1px solid #544c4c;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 0 36px;
}

.input-holder {
  width: auto;
  border: 1px solid $border-color;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 0 36px;
  background: #fff;
  position: relative;

  input {
    width: auto;
    left: 0;
    right: 0;
    padding: 11px 10px 11px 10px;
    margin: 0;
    background: none;
    float: left;
    border: none;
    color: #656261;
    font-size: 14px;

    &:focus {
      outline: none;
    }
  }
}

.input-holder .btn-search {
  width: 17px;
  text-indent: -9999px;
  margin: 12px 0 0 2px;
  cursor: pointer;
  overflow: hidden;
  height: 17px;
  left: auto;
  right: 10px;
  top: 0;
  position: absolute;
  background: url(assets/images/btn-search.png) no-repeat;
}

.footer-holder {

  .widget .social-networks {
    margin: 16px 0 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
}

.widget .social-networks {
  li {
    float: left;
    margin: 0 0 0 10px;

    &:first-child {
      margin: 0;
    }

    a {
      text-indent: -9999px;
      overflow: hidden;
      float: left;
      width: 32px;
      height: 32px;
    }
  }

  .amazon {
    background: url(assets/images/ico-amazon.png) no-repeat;
  }

  .yahoo {
    background: url(assets/images/ico-yahoo.png) no-repeat;
  }

  .facebook {
    background: url(assets/images/ico-fb.png) no-repeat;
  }

  .twiter {
    background: url(assets/images/ico-tw.png) no-repeat;
  }

/* @end */
}

/* @group Content */

#content {
  width: 66%;
  float: left;
  color: $base-font-color;
  margin: 0;

  a {
    color: $primary-color;
  }

  .post {
    width: 100%;
    overflow: hidden;
    margin: 0 0 39px;
    padding: 35px 0 0 0;
    border-top: 1px solid $border-color;

    &:first-child {
      border: none;
    }

    .info {
      width: 23%;
      border-bottom: 1px solid #cdcfca;
      background: #fff;
      margin: 3px 6% 0 0;
      padding: 18px 0 15px;
      float: left;
      -webkit-border-radius: 0 5px 5px 5px;
      -moz-border-radius: 0 5px 5px 5px;
      border-radius: 0 5px 5px 5px;
    }

    .img-holder {
      background: #fff;
      width: 136px;
      margin: -17px 0 9px -11px;
      padding: 2px;
      display: block;
      -webkit-box-shadow: 0 1px 2px 1px #d2d2d2;
      -moz-box-shadow: 0 1px 2px 1px #d2d2d2;
      box-shadow: 0 1px 2px 1px #d2d2d2;

      img {
        vertical-align: top;
      }
    }

    dl {
      margin: 0 0 19px;
      text-align: center;
    }

    dt {
      color: #cdcfca;
      text-transform: uppercase;
      font-size: 10px;
      line-height: 12px;
    }

    dd {
      color: $base-font-color;
      margin: 0 0 10px;
      font-size: 12px;
      line-height: 14px;
    }

    .date {
      color: $base-font-color;
      font-size: 12px;
      line-height: 14px;
    }

    a {
      color: $primary-color;
    }
  }

  .post {
    .social-networks {
      margin: 0;
      padding: 0;
      list-style: none;
      overflow: hidden;
      text-align: center;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 18px;

      li {
        background: none;
        margin: 0 0 5px;
        padding: 0;

        a {
          background: url(assets/images/ico-share.png) no-repeat;
          padding: 2px 0 2px 22px;
          color: $primary-color;
        }
      }
    }

    .text {
      float: left;
      color: $base-font-color;
      width: 70.96%;
      font-size: 14px;
      line-height: 20px;
    }

    .post_content{
      margin-bottom: 4em;
    }
  }

  .post .text {

    h2 {
      color: $header-font-color;
      margin: 0 0 13px;

      a {
        color: $header-font-color;
      }
    }
  }

  h2 {
    a {
      color: $header-font-color;
    }
  }

  .single-holder {
    width: 100%;
    border-bottom: 1px solid $border-color;
    overflow: hidden;
    margin: 0 0 24px;
  }

  .related-block {
    width: 605px;
    &:after {
      content: '';
      display: block;
      clear: both;
    }

    h3 {
      color: $header-font-color;
    }
  }

  .single-frame {
    width: 100%;
    overflow: hidden;
    padding: 0 0 31px;
    margin: 28px 0 0;

    .img-holder {
      margin: 0 20px 0 0;
      padding: 10px;
    }

    .text-holder {
      overflow: hidden;
    }

    .price {
      color: $header-font-color;
      text-transform: uppercase;
      display: block;
      margin: 0 0 7px;
      font-size: 18px;
      line-height: 20px;
    }
  }

  ol {
    margin: 24px 0 20px;
    padding: 0 0 0 36px;
    overflow: hidden;
    color: $base-font-color;
    font: 14px / 20px $sans-serif-font;
  }

  ol li {
    padding: 0 0 0 3px;
    margin: 0 0 4px;

    a {
      color: $base-font-color;
    }
  }

}

/* @end */

/* @group Post Container */

.block-holder {
  padding: 0;
  width: 32%;
  float: left;
  margin: 0 2% 0 0;

  &:nth-child(3n){
    margin-right: 0;
  }

  .col {

    .widget {
      background: #fff;
      -webkit-border-radius: 5px;
      border-bottom: 1px solid #cdcfca;
      -moz-border-radius: 5px;
      border-radius: 5px;
      width: auto;
      margin: 0 0 20px;
      padding: 17px 19px 0;

      h3 {
        a {
          color: $primary-color;
        }
      }

      .text-block {
        width: 100%;
        padding: 0 0 4px;
        margin: 0 0 7px;
        overflow: hidden;
        border-bottom: 1px solid #e6e8e3;

        span {
          font-size: 14px;
          line-height: 24px;
          color: $base-font-color;
          display: block;
          margin: 10px 0 5px;
        }
      }

      .video-holder {
        margin: 0 0 7px;
        display: block;
        position: relative;
        span {
          display: none;
        }

        &:hover span {
          background: url(assets/images/ico-glass.png) no-repeat;
          position: absolute;
          top: 50%;
          display: block;
          width: 65px;
          height: 40px;
          text-decoration: none;
          cursor: pointer;
          left: 50%;
          margin: -20px 0 0 -32px;
        }
      }

      .comments {
        font-size: 10px;
        line-height: 12px;
        color: $base-font-color;
        text-align: center;
        text-transform: uppercase;
        display: block;
        margin: 0 0 8px;
      }

      blockquote {
        margin: -6px 0 11px;
        font-size: 16px;
        line-height: 24px;
        padding: 0;
        color: $header-font-color;

        q {
          quotes: none;
          font-style: normal;
        }
      }

      &.update {
        text-align: left;
        margin: -3px 0 -3px;
        padding: 0;
        list-style: none;
      }

      &.update li {
        margin: 0 0 6px;
      }

      &.update li a {
        color: $header-font-color;
      }

    }
  }
}

/* @end */

/* @group Footer */

#footer {
  background: url(assets/images/bg-footer.gif) repeat-x;
  padding: 10px 0 0 0;
}

.footer-holder {
  background: #262323 url(assets/images/bg-footer-holder.gif);
  padding: 0 0 55px;

  h4 {
    color: #f1f2f0;

    a {
      color: #f1f2f0;
    }
  }

  .widget {
    float: left;
    color: #cdcfca;
    margin: 0 0 20px;
    font-size: 14px;
    line-height: 20px;
  }

}

.footer-frame {
  width: auto;
  max-width: $max-site-width;
  margin: 0 auto;
  padding: 29px 20px 0;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  p {
    margin: 0 0 20px;
  }

  .widget{
    width: 100%;
  }

  .block-holder:nth-child(3n){
    margin-right: 0;
  }
}

/* @end */

/* @group WooSlider */

#main .wooslider{
  border: none;
  padding: 0;
  background: none;
  border-radius: 0;
  @include box-shadow(none);

  ul.wooslider-direction-nav{
    margin: 0;
    padding: 0;
    overflow: auto;
  }

  ul.slides{
    margin-bottom: 0;

    &,
    li{
      list-style: none !important;
      margin: 0 !important;
      padding: 0 !important;
    }
  }
}

body .wooslider .wooslider-control-nav{
  padding-bottom: 5%;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

/* @end */